/* Footer
 ----------------------------------------------------------------------------- */
.footer {
	position: relative;
	height: $footer_height;
	@extend %clear_all;
	.container_center {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.copy a {
		color: #fff;
	}
}

